## Getting Started With SFrame

# Fire up Graphlab Create

In [2]:
import graphlab

## Load the Tabular Data Set

In [3]:
sf = graphlab.SFrame('C:\Users\gaura\Downloads\people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to gaurpiyush001@gmail.com and will expire on May 28, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\gaura\AppData\Local\Temp\graphlab_server_1603370806.log.0

Finished parsing file C:\Users\gaura\Downloads\people-example.csv

Parsing completed. Parsed 7 lines in 0.078158 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 7 lines. Lines per second: 185.308

Finished parsing file C:\Users\gaura\Downloads\people-example.csv

Parsing completed. Parsed 7 lines in 0.037775 secs.

In [4]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# SFrame Basics

In [5]:
sf #we can veiw first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
 sf.head

<bound method SFrame.head of Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]
>

In [7]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [8]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GrahLab Canvas

In [9]:
# take any data structure in Graphlab Create
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:58912/index.html
Opening Canvas in default web browser.

In [10]:
graphlab.canvas.set_target('ipnb')

ValueError: Canvas target 'ipnb' is an invalid value. Select from: ['headless', 'none', 'ipynb', 'browser'].

In [11]:
graphlab.canvas.set_target('ipynb')

In [12]:
sf['age'].show(view='Categorical')

# Inspect Coloumns of Data Set

In [13]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [14]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [15]:
sf['Age']

RuntimeError: Runtime Exception. Column name Age does not exist.

In [16]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [17]:
sf['age'].mean()

23.14285714285714

In [18]:
sf['age'].max()

25L

# Create new Coloumns in Our SFrame

In [19]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [20]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [3]:
import graphlab

In [4]:
sf = graphlab.SFrame('C:\Users\gaura\Downloads\people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to gaurpiyush001@gmail.com and will expire on May 28, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\gaura\AppData\Local\Temp\graphlab_server_1590839826.log.0

Finished parsing file C:\Users\gaura\Downloads\people-example.csv

Parsing completed. Parsed 7 lines in 0.075951 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\gaura\Downloads\people-example.csv

Parsing completed. Parsed 7 lines in 0.035405 secs.

In [5]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [21]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [22]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [23]:
sf['age'] + 2

dtype: int
Rows: 7
[26L, 25L, 24L, 25L, 25L, 24L, 27L]

In [24]:
sf['age'] = sf['age'] * sf['age']

In [25]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States | 576 |   Bob Smith    |
|   Alice    |  Williams |     Canada    | 529 | Alice Williams |
|  Malcolm   |    Jone   |    England    | 484 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      | 529 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    | 529 |  Alex Cooper   |
|    Tod     |  Campbell | United States | 484 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  | 625 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

# Use apply function to do advance transformation of our data

In [13]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [14]:
sf['Country'].show()

Canvas is accessible via web browser at the URL: http://localhost:53102/index.html
Opening Canvas in default web browser.

In [15]:
graphlab.canvas.set_target('ipynb')

In [16]:
sf['Country'].show()

In [26]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [27]:
transform_country('Brazil')

'Brazil'

In [28]:
transform_country('Canada')

'Canada'

In [29]:
transform_country('USA')

'United States'

In [30]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [31]:
sf['Country'] = sf['Country'].apply(transform_country)

In [32]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States | 576 |   Bob Smith    |
|   Alice    |  Williams |     Canada    | 529 | Alice Williams |
|  Malcolm   |    Jone   |    England    | 484 |  Malcolm Jone  |
|   Felix    |   Brown   | United States | 529 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    | 529 |  Alex Cooper   |
|    Tod     |  Campbell | United States | 484 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  | 625 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [25]:
sf['Country'].show()